<h2>Add a Book</h2>

<form class="form" #bookForm="ngForm" (ngSubmit)="onSubmit()">
    <div>Title: <input type="text" name="title" [(ngModel)]="model.title" /></div>
    <div>Author: 
        <select [(ngModel)]="model.authorID" name="authorID" >
            <option *ngFor="let a of model.authorList" [ngValue]="a.authorID">{{a.lastName}}</option>
        </select>
    </div>
    <div>Publication Year: <input type="number" name="pubDate" [(ngModel)]="model.pubDate" /></div>
    <div>Category: <input type="text" name="category" [(ngModel)]="model.category" /></div>
    <button type="submit" class="btn btn-info">Submit</button>
</form>