<h1>Book List</h1>

<p *ngIf="!books"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
<em class="sr-only">Loading...</em></p>

<a [routerLink]="['/addbook']" class="btn btn-lg btn-info" *ngIf="books">ADD A BOOK</a>

<table class='table' *ngIf="books" >
    <thead>
        <tr>
            <th>Title</th>
            <th>Publication Year</th>
            <th>Category</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        <tr class="rowlink" *ngFor="let book of books" [routerLink]="['/book/', book.bookID]">
            <td>{{ book.title }}</td>
            <td>{{ book.pubDate }}</td>
            <td>{{ book.category }}</td>
            <td>{{ book.author.firstName + " " + book.author.lastName }}</td>
        </tr>
    </tbody>
</table>
